

ol{
    list-style-type: none;
    color: $fourth-color;
}
footer{
    @media screen and (min-width:768px){
        margin-top: 200px;
    }
    @media screen and (min-width:1200px){
        margin-top: 0px;
    }
    margin-top: 240px;
}
.p-footer{
    text-align: center;
}
.footer-a{
    text-align: center;
    color: $fourth-color;
}
.footer-a:hover{
    color: $hover-color;
}
.footer-div{
    @media screen and (min-width:1200px){
        display: flex;
        flex-direction: row;
    }
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.div-ol{  
    @media screen and (min-width:1200px){
        width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer-ul{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.div-div{
    @media screen and (min-width:1200px){
        width: 1200px;
        padding-top: 50px;
    }
    width: 100%;
    justify-content: center;
    padding-bottom: 64px;
}
.class-ol{ 
    @media screen and (min-width:768px){
        max-width: 232px;
        margin-left: 150px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    @media screen and (min-width:1200px){
        margin: 0px;
        margin-right: 10px;
    }
    display: flex;
    flex-direction: column;
    color: $fourth-color;
    margin: 16px 0px;
    padding: 0px;
    align-items: center;
}
.footer-ol{
    text-align: center;
    max-width: 230px;
    @include font-style('Roboto', 14px, 400, 24px);
}
.ul-div{
    @media screen and (min-width:768px){
       margin-left: 165px;
       margin-top: -140px;
       margin-bottom: 100px;
    }
    @media screen and (min-width:1200px){
        margin: 0px;
        margin-right: 10px;
    }
    background-color:  transparent;
    justify-content: center;
    margin-left: -200px;
    padding-top: -200px;
    max-width: 206px;
    display: flex;
    align-self: center;
    margin-top: 59px;
    gap: 30px;
    max-width: 16px;
    margin-right: -200px;
    padding-top: -200px;
    max-width: 206px;
}
.div-p{
    max-height: 16px;
}
.footer-p{
    text-align: center;
    @include font-style('Roboto', 14px, 700, 16.41px);    
}
.ul-div-svg{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.div-icon{
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
}
.div-icon:hover{
    transition-timing-function: cubic-bezier(0.83, -0.08, 0.32, 1);
    transition-duration: 250ms;
    width: 44px;
    height: 44px;
    border: solid 1px $hover-color;
    border-radius: 30px;
    background-color: $hover-color;
}
.ul-input{
    display: flex;
    flex-direction: column;
    margin-right: 0px;
}
.footer-p-li{
    @media screen and (min-width:1200px){
        text-align: left;
    }
    @include font-style('Roboto', 14px, 700, 16.41px);     
    color: $fourth-color;
}
.placeholder{
    @media screen and (min-width:1200px){
        width: 358px;
    }
    align-self: center;
    width: 450px;
    padding: 17px 0px 19px 16px;
    background-color: transparent;
    border-radius: 4px;
    border: solid 1px $second-color;
}
.footer-button{
    width: 200px;
    height: 50px;
    color: $fourth-color;
    background-color: $hover-color;
    border: solid 1px $hover-color;
    border-radius: 4px;
    padding: 5px 28px 15px 34px;
    fill: $fourth-color;
    padding-bottom: 25px;
}
.icon-footer{
    fill: $fourth-color;
    margin-left: 11px;
    margin-top: 9px;
}
.icon-footer:hover{
    fill: $fourth-color;
    margin-left: 11px;
    margin-top: 9px;
}
.a-footer{   
    @include font-style('Raleway', 26px, 700, 30.52px);
    text-align: center;
    color: $fift-color;
}
.a-footer:hover{
    color: $fourth-color;
}
.icon-icon-send{
    padding-top: 6px;
}
